<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="settings">
<config key="file_chooser_settings_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_WriterFileChooser"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="file_chooser_settings">
<config key="file_system_chooser__Internals">
<entry key="has_fs_port" type="xboolean" value="false"/>
<entry key="overwritten_by_variable" type="xboolean" value="false"/>
<entry key="convenience_fs_category" type="xstring" value="LOCAL"/>
<entry key="relative_to" type="xstring" value="knime.workflow.data"/>
<entry key="mountpoint" type="xstring" value="LOCAL"/>
<entry key="custom_url_timeout" type="xint" value="1000"/>
<entry key="connected_fs" type="xboolean" value="true"/>
</config>
<config key="path">
<entry key="location_present" type="xboolean" value="true"/>
<entry key="file_system_type" type="xstring" value="LOCAL"/>
<entry key="path" type="xstring" value="C:\Users\Ibrahim\OneDrive - psut.edu.jo\Desktop\psut-data-eng\JHU_covid19_KNIME\JHU_Covid19_India_Scoring\output\India_scoring_report_beforeScale.csv"/>
</config>
<config key="filter_mode_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_FilterMode"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="filter_mode">
<entry key="filter_mode" type="xstring" value="FILE"/>
<entry key="include_subfolders" type="xboolean" value="false"/>
<config key="filter_options">
<entry key="filter_files_extension" type="xboolean" value="false"/>
<entry key="files_extension_expression" type="xstring" value=""/>
<entry key="files_extension_case_sensitive" type="xboolean" value="false"/>
<entry key="filter_files_name" type="xboolean" value="false"/>
<entry key="files_name_expression" type="xstring" value="*"/>
<entry key="files_name_case_sensitive" type="xboolean" value="false"/>
<entry key="files_name_filter_type" type="xstring" value="WILDCARD"/>
<entry key="include_hidden_files" type="xboolean" value="false"/>
<entry key="filter_folders_name" type="xboolean" value="false"/>
<entry key="folders_name_expression" type="xstring" value="*"/>
<entry key="folders_name_case_sensitive" type="xboolean" value="false"/>
<entry key="folders_name_filter_type" type="xstring" value="WILDCARD"/>
<entry key="include_hidden_folders" type="xboolean" value="false"/>
</config>
</config>
<entry key="create_missing_folders" type="xboolean" value="false"/>
<entry key="if_path_exists" type="xstring" value="overwrite"/>
</config>
<entry key="column_delimiter" type="xstring" value=","/>
<entry key="row_delimiter" type="xstring" isnull="true" value=""/>
<entry key="quote_char" type="xchar" value="&quot;"/>
<entry key="quote_escape_char" type="xchar" value="&quot;"/>
<entry key="write_column_header" type="xboolean" value="true"/>
<entry key="skip_column_header_on_append" type="xboolean" value="false"/>
<entry key="write_row_header" type="xboolean" value="false"/>
</config>
<config key="advanced_settings">
<entry key="missing_value_pattern" type="xstring" value=""/>
<entry key="compress_with_gzip" type="xboolean" value="false"/>
<entry key="quote_mode" type="xstring" value="STRINGS_ONLY"/>
<entry key="separator_replacement" type="xstring" value=""/>
<entry key="decimal_separator" type="xchar" value="."/>
<entry key="use_scientific_format" type="xboolean" value="false"/>
<entry key="keep_trailing_zero_in_decimals" type="xboolean" value="false"/>
</config>
<config key="comment_header_settings">
<entry key="comment_line_marker" type="xstring" value="#"/>
<entry key="comment_indentation" type="xstring" value="%%00009"/>
<entry key="add_time_to_comment" type="xboolean" value="false"/>
<entry key="add_user_to_comment" type="xboolean" value="false"/>
<entry key="add_table_name_to_comment" type="xboolean" value="false"/>
<entry key="add_custom_text_to_comment" type="xboolean" value="false"/>
<entry key="custom_comment_text" type="xstring" value=""/>
</config>
<config key="encoding">
<entry key="character_set" type="xstring" isnull="true" value=""/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.io.filehandling.csv.writer.CSVWriter2NodeFactory"/>
<entry key="node-name" type="xstring" value="CSV Writer"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.3.1.v202101261649"/>
<entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.3.1.v202101261649"/>
<config key="factory_settings"/>
<config key="node_creation_config">
<config key="File System Connection"/>
<config key="Data Table"/>
</config>
<entry key="name" type="xstring" value="CSV Writer"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports"/>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="f2fa7a06-2126-4db9-8be1-5230e5ce1b43"/>
</config>
</config>
